<h1>BOOKS</h1>

<ul>
  <% @author.each do |authors| %>
    <li>
      <h1> Book name:</h1><h4><%= authors.bookname %></h4><br>
      
     <h2> Author name:</h2><br><h4> <%= authors.authorname%></h4><br>
    </li>
    <li>
    
  <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="<%= (url_for(authors.image))%>" alt="Good">
  <div class="card-body">
    <h5 class="card-title">images</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    <a href="/authors/1" class="btn btn-primary">Go to book</a>
  </div>
</div>

    </li>
    
</ul>
  <% end %>
    


<%= link_to "Create a new book", "/authors/new" %>
<br>

<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>